@import "tailwindcss";

@theme {
  --color-primary: #ef4444; /* light primary (red) */
  --color-secondary: #6366f1; /* light secondary */
  --color-background: #f8fafc; /* light background */
  --color-text: #0f172a; /* light text */
  --color-surface: #ffffff; /* light surface */

  --color-dark-primary: #60a5fa; /* dark primary */
  --color-dark-secondary: #818cf8; /* dark secondary */
  --color-dark-background: #0f172a; /* dark background */
  --color-dark-text: #f8fafc; /* dark text */
  --color-dark-surface: #1e293b; /* dark surface */
}

.dark {
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
  --color-background: var(--color-dark-background);
  --color-text: var(--color-dark-text);
  --color-surface: var(--color-dark-surface);
}